html
    head
        meta(
        charset="utf-8"
        )
        meta(
        http-equiv="X-UA-Compatible"
        content="IE=edge"
        )
        meta(
        name="viewport"
        content="width=device-width, initial-scale=1"
        )

        title
            block title

        link(
        rel="stylesheet"
        type="text/css"
        href="css/bootstrap.css"
        )
        link(
        rel="stylesheet"
        type="text/css"
        href="css/hd-theme.css"
        )
        link(
        rel="stylesheet"
        type="text/css"
        href="css/index.css"
        )
    body
        block body
            include ./_include/header
            div.hd-header
                div.container
                    block masthead
            div.container.hd-container
                div.row
                    div.col-md-9
                        block content

                    div.col-md-3
                        block right

        footer.hd-footer
            div.container
                ul.hd-footer-links
                    li
                        a(href="#") Homepage
                    li
                        a(href="#") Companies
                    li
                        a(href="#") Projects
                    li
                        a(href="#") About us

