html
    head
        meta(
        charset="utf-8"
        )
        meta(
        http-equiv="X-UA-Compatible"
        content="IE=edge"
        )
        meta(
        name="viewport"
        content="width=device-width, initial-scale=1"
        )

        title Hidev pages

        link(
        rel="stylesheet"
        type="text/css"
        href="css/bootstrap.css"
        )
        link(
        rel="stylesheet"
        type="text/css"
        href="css/hd-theme.css"
        )
        link(
        rel="stylesheet"
        type="text/css"
        href="css/index.css"
        )
    body
        block content
        footer.hd-footer
            div.container
                ul.hd-footer-links
                    li
                        a(href="#") Homepage
                    li
                        a(href="#") Companies
                    li
                        a(href="#") Projects
                    li
                        a(href="#") About us

